extends ./common/jade/template
block meta
    -var title = "KOISHI";
    -var description = "";
    -var keyword = "";
    -var og_name = "";
    -var og_title = "";
    -var og_description = "";
    -var og_url = "";
    -var og_img = "";
    -var dir_root = "./";
    -var css = "";
    -var imgPath = "images/"
block js
    +importJavascript("../common/js/lib.js")
    +importJavascript("./js/index.min.js")
block contents
    #mv
        .mv__bg
        .mv__icon
            +img('./images/mv_icon.png','KOISHI')
    #mainContents.inner
        #profile
            .profile__title
                +img('./images/profile_title.png','プロフィール PROFILE')
            .profile__introductionArea
                .baloon__wrapper
                    .baloon
                        include ../common/jade/profile_text
                .author
                    +img('./images/profile_author.png','KOISHI')
        #character
            .character__title
                +img('./images/character_title.png','キャラクター CHARACTOR')
            .character__lists__wrapper
                ul.character__lists.slick-dots
                    include ../common/jade/characterListData
                    -var count = ''
                    -for(var i=1; i < charaname.length; i++){
                        -if(i < 10){
                            -count = '0' + i
                        -}else{
                            -count = i
                        -}
                        li.list.modal__button__open(data-listNum=count)
                            +img('./images/character_images/thumbs/character_thumb_' + count + '.png','hoge')
                    -}
                .modal
                    .modal__button__close

                    ul.slidShow.slick
                        -var count = ''
                        -for(var i = 1; i < charatext.length; i++){
                            -if(i < 10){
                                -count = '0' + i
                            -}else{
                                -count = i
                            -}
                            li.list
                                .chracter
                                    img(src="../images/detail/detail_" + i + ".png", alt=charaname[i])
                                .name
                                    img(src="../images/name/name_" + i + '.png', alt=charaname[i])
                                .description
                                    p.text #{charatext[i]}
                        -}
        #fanart
            .fanart__title
                +img('./images/fanart_title.png','ファンアート FAN ART')
            -var copylightCount = 28;
            .fanart_lists__wrapper
                ul.fanart_lists
                    -for(var i = 1; i <= copylightCount; i++){
                        -if(i < 10){
                            -count = '0' + i
                        -}else{
                            -count = i
                        -}
                        li.list.modal__button__open(data-listNum = count)
                            img(src='./images/copylightworks/thumbs/copylightworks_thumbnail_' + i + '.png',alt="")
                    -}
            .modal
                .modal__button__close
        #linestamp
            .linestamp__title
                +img('./images/line_title.png','オリジナルLINEスタンプ LINE STAMP')
            .linestamp__stamps
                +img('./images/line_stamps.png','ラインスタンプ画像')
            .linestamp__storeLink
                a.link(href='https://store.line.me/stickershop/product/1165896/ja',target='_blank')
                    +img('./images/line_link_text.png',alt='LINE STORE')
        #twitter
            .twitter__title
                +img('./images/twitter_title.png', 'ツイッター TWITTER')
            .timeline
                a.twitter-timeline(href="https://twitter.com/kokushiki")
                script(async src="//platform.twitter.com/widgets.js",charset="utf-8")
        #contact
            .contact__title
                +img('./images/contact_title.png', 'コンタクト CONTACT')
            .contact__form
                .form__inner
                    p.subhead.
                        お仕事の依頼、作品の感想など、<br>
                        ご連絡お待ちしております。また、ご意見やご用命の方は<br>
                        下記のメールアドレスにご連絡ください。
                    .mailaddres
                        p.address.
                            pow.koishi@gmail.com
                    a.submit(href="mailto:pow.koishi@gmail.com")
                        img(src="./images/contact_form_submit.png",alt="送信")
