extends  jade/_base
block meta
	-var title = "KOISHI"
	-var description = ""
	-var keyword = ""
	-var og_name = "";
	-var og_title = "";
	-var og_description = "";
	-var og_url = "";
	-var og_img = "";
	-var dir_root = "./";
	-var css = "./css/index.css";
block js
	script(rel="text/javascript",src="./common/js/lib.js")
	script(rel="text/javascript",src="./js/index.min.js")
block css
	link(rel="stylesheet" type="text/css" href="./common/css/slick-theme.css" media="all")
	link(rel="stylesheet" type="text/css" href="./common/css/slick.css" media="all")
block contents
	#mv
		.mv__title
			img.logo(src="./images/mv_chara.png",alt="")
			img.text(src="./images/mv_title.png",alt="KOISHI")
	#contents
		#profile
			.inner
				h2.profile__title
					img(src="./images/profile_title.png",alt="プロフィール PROFILE")
				.block
					.profile__baloon
						p.intro.
							福岡県出身、在住のイラストレーター。キャラクターデザインをメインに活動中。<br>
							実在する国に住む、動物や架空の生物がモチーフのキャラクター作成が多い。
						p.text.
							2009.11　グループ展「あ、これ贈り物にしたいんで包んでください。」<br>
							2010.03　グループ展「CROUCH START!」<br>
							2011.03　グループ展「CROUCH START!2 GROW!」<br>
							2011.05　COMIC CITY福岡26「House Dust」サークル参加<br>
							2012.05　COMIC CITY福岡29「mingle」サークル参加<br>
							2012.09　COMIC CITY福岡30「0102Works.」サークル参加<br>
							2013.01　COMIC CITY福岡31「0102Works.」サークル参加<br>
							2013.03　子どもの村 子どもプログラム　イラストの提供<br>
							2016.04　個展「」<br>
							2016.06　個展「PEEP」
					.profile__autorimage
						img(src="./images/autorimage.png",alt="")
		#character
			.inner
				.character__title
					img.text(src="./images/character_title.png",alt="キャラクター CHARACTER")
				.block
					.character__thumb
						ul.thumb__lists
							-for(var i = 1;i < 30;i++){
								li.list
									img.thumb(src="./images/thumbs/thumb_#{i}.png",alt="")
							-}
					.character__detail
						.character__descriptionbg
						ul.slideshow.slick
							-for(var i = 1; i < 30; i++){
								li.slide
									.character
										img(src="./images/detail/detail_#{i}.png",alt="")
									.name
										img(src="",alt="")
									.description
										p.text.
											テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入りま
							-}
		#copylightworks
			.inner
				.copylightworks__title
					img(src="./images/copylightworks_title.png",alt="版権類作品たち COPYLIGHT WORKS")
				ul.lists
					- for (var i = 1; i < 37; i++) {
					li.list
						img(src='./images/copylightworks_thumbnail.jpg',alt="")
					- }
		#linestamp
			.inner
				.linestamp__title
					img(src="./images/line_title.png",alt="")
				.linestamp__stamps
					img(src="./images/line_stamps.png",alt="")
				.linestamp__linestore
					.button
						a(href="")
							img(src="./images/line_button.png",alt="")
					.or
						img(src="./images/line_or.png",alt="")
					.qr
						img(src="./images/line_qr.png",alt="")
		#twitter
			.inner
				.twitter__title
					img(src="./images/twitter_title.png",alt="")
		#contact
			.inner
				.contact__title
					img(src="./images/contact_title.png",alt="")
				.description
					img(src="")
				.mail
					img(src="")
