@charset "utf-8";
@import "../common/css/normalize";
#main{
	background-image: url(../images/bg.jpg);
	background-position: top center;
	background-repeat: no-repeat;
	background-size: cover;
}
body{
	background-image: url("../images/bg.gif");
	background-color: #fff5eb;
	.block{
		margin:56px 0 0 0;
	}
	&:before {
		content: "";
		position: absolute;
		display: block;
		width: 100%;
		height: 5000px;
		background-image: url("../images/damii.jpg");
		background-position: top center;
		background-repeat: no-repeat;
		opacity: 0.5;
		
	}
	.inner{
		width:1000px;
		margin:0 auto;
	}
	#mv{
		background-image: url(../images/mv_bg.jpg);
		background-position: top center;
		background-repeat: no-repeat;
		.mv__title{
			text-align: center;
			display: block;
			padding-top: 122px;
			padding-bottom: 188px;
			img{
				display: block;
				margin: 0 auto;
			}
			img.text{
				margin-top: 22px;
			}
		}
	}
	#profile{
		.profile__baloon{
			background-image: url("../images/profile_baloon.png");
			background-repeat: no-repeat;
			.intro{
				font-size:12px;
				padding-top: 25px;
				padding-left: 31px;
				line-height: 1.7;
			}
			.text{
				font-size: 12px;
				padding-top: 22px;
				padding-left: 31px;
				padding-bottom: 25px;
				line-height: 1.8;
			}
		}
		.profile__title{
			text-align: center;
			padding:114px 0 0 0;
		}
	}
	.footter{

	}
}