@import "../common/css/normalize";
@import "../common/css/common";
body{
	&:before{
		content: '';
		position: absolute;
		top:0;
		width:100%;
		height:10000px;
		background-image: url('../images/damii.jpg');
		background-size: 320px auto;
		background-repeat: no-repeat;
		background-position: top center;
		opacity:0.2;
		z-index:2;
	}
}
#mv {
	background-image: url('../images/mv_bg.jpg');;
	background-position: -555px;
	background-size: cover;
	height: 568px;
	position: relative;
	font-size:0;
	.mv__icon{
		width:234px;
		height:233px;
		//width: 73.125%;
		//height: 41.023%;
		position: absolute;
		top:127px;
		left:50%;
		margin-left:-117px;
		//margin:auto;
		//top:0;
		//right:0;
		//bottom:0;
		//left:0;
	}
}

#profile{
	padding-top:47px;
	.profile__title{
		width: 74.334%;
		margin:0 auto;
		font-size:0;
	}
	.profile__introductionArea{
		background-image: url('../images/profile_baloon.png');
		background-position: top center;
		background-repeat: no-repeat;
		background-size: 100% 65.5%;
		width:100%;
		height:auto;
		margin:20px auto 0 auto;
		overflow-y: hidden;
		position: relative;
		padding-bottom:50%;
		.baloon{
			padding:20px 15px 0 15px;
			height:155px;
			overflow: scroll;
			font-size:12px;
			.intro{
				line-height: 1.8;
				margin-bottom:21px;
			}
			.achievements{
				.list{
					margin-bottom:10px;
					.text{
						.date{
							display: block;
						}
						.detail{
							display: block;
						}
					}
				}
			}
		}
		.author{
			position: absolute;
			width: 261px;
			right: 0;
			bottom: -2%;
		}
	}
}

#character{
	margin-top:50px;
	.character__title{
		width:232px;
		margin:0 auto;
	}
	.character__lists{
		margin:2px auto 0;
		text-align: center;
		font-size:0;
		width:280px;
		height:240px;
		overflow-y: scroll;
		.list{
			display: inline-block;
			margin:10px 6px 0 6px;
			.thumb{
				width:50px;
				background-color: #b81919;
				border-radius: 50%
			}
		}
	}
}

#fanart{
	//margin-top:53px;
	margin-top:290px;
	.fanart__title{
		font-size:0;
		width:76%;
		margin:0 auto;
	}
	.fanart_lists{
		text-align: center;
		font-size:0;
		overflow-y: scroll;
		width:280px;
		height:240px;
		margin:10px auto 0;
		.list{
			width:50px;
			height:50px;
			display: inline-block;
			margin:10px 6px 0;
		}
	}
}

#linestamp{
	//margin-top:98px;
	margin-top:108px;
	.linestamp__title{
		font-size:0;
		width:86%;
		margin:0 auto;
	}
	.linestamp__stamps{
		font-size:0;
		text-align: center;
		width:285px;
		margin:10px auto 0;
	}
	.linestamp__storeLink{
		margin-top:38px;
		.link{
			background-color: #00cd22;
			width:167px;
			padding:15px 0;
			margin:0 auto;
			display: block;
			border-radius: 4px;
			text-align: center;
			font-size:0;
			img{
				width:89px;
			}
		}
	}
}

#twitter{
	.twitter__title{
		width:64%;
		margin:66px auto 0;
		text-align: center;
		img{
			margin-right:-10px;
		}
	}
}

#contact{
	margin-top:271px;
	.contact__title{
		text-align: center;
		margin:0 auto;
		width:63%;
	}
}